[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[alias]
  adog = log --all --decorate --oneline --graph
  ; db = git branch --merged | grep -ve "main\|master\|develop\|staging" >/tmp/merged-branches && nvim /tmp/merged-branches && xargs git branch -d </tmp/merged-branches
[pull]
	ff = only
